.btn span {
    margin-right: 0 !important;
}

.btn.red path{
    fill: #ec0000 !important;
}

.btn.outlined path{
    fill: #004699 !important;
}
.btn.blue {
    background-color: #004699 !important;
}
.btn.blue path{
    fill: #fff !important;
}