:root {
  --button-default: #1890ff;
  --button-default-hover: rgba(24, 144, 255, .7);
  --graycolor: rgb(245, 245, 245);
  --block-border: 1px solid rgb(105, 105, 105);
  --row-height: 52px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td {
  padding: 0.25em;
}

.fc {
  font-family: Avenir Next, Arial, sans-serif !important;
}

.fc-button {
  border-radius: 0 !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  cursor: pointer;
}

.fc-button-primary:disabled {
  background-color: var(--button-default) !important;
  color: #fff !important;
  opacity: 1 !important;
}

.fc-button-primary:hover {
  background-color: var(--button-default-hover) !important;
  color: #fff !important;
}

.fc-button-primary {
  background-color: #fff !important;
  color: var(--button-default) !important;
  border: 1px solid var(--button-default) !important;
}

#header {
  z-index: 1000;
}

.menu-item-ul {
  position: sticky;
  z-index: 1000;
  top: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  font-weight: 400;
  background-color: var(--graycolor);
  box-shadow: 0 4px rgba(0, 0, 0, 0.04);
}

.menu-item-li {
  height: 50px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.menu-item.active {
  color: #ec0000 !important;
  background-color: #fff;
  border-bottom: 2px solid #e40;
}

.menu-item {
  color: #000;
  font-weight: 500;
  position: relative;
  line-height: 22px;
  padding-left: 7px;
  border-left: 8px solid transparent;
  background-color: transparent;
  height: 100%;

  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  white-space: normal;
  height: 44px;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  border: none;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 16px;
  padding-left: 16px;
  -webkit-transition: color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
  flex-grow: 1;
  text-align: left;
}

.menu-item::after {
  content: '';
  display: block;
  min-height: inherit;
  font-size: 0;
}


.menu-item:not([aria-expanded='true']):hover,
.menu-item:not([aria-expanded='true']):focus {
  background-color: transparent;
}

.disable-button button[type=submit] {
  margin: 0 !important;
  background-color: var(--graycolor);
  cursor: not-allowed;
}

.disable-button button[type=submit] :hover {
  background-color: var(--graycolor);
}

.event {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: auto;
  min-height: 100px
}

.block-left {
  padding: 6px;
  border-top: 30px solid var(--graycolor);
  width: max-content;
}

.block-right {
  padding: 6px;
  border-bottom: 30px solid var(--graycolor);
  width: max-content;
}


.market-card {
  border: 1px solid #ccc;
  width: 260px;
  padding: 1em;
}

.market-card > a > * {
  color: var(--button-default);
}

.wenperiode,
.wenweken>button:not(.ant-dropdown-trigger),
.wenperiode>button:not(.ant-dropdown-trigger) {
  color: #fa8c16 !important;
  background: #fff7e6 !important;
  border-color: #ffd591 !important;
}

.wenperiode > a > h2 {
  color: #fa8c16 !important;
}

.onbekend, 
.onbekend>button:not(.ant-dropdown-trigger) {
  font-style: inherit;
  color: inherit;
  background: #fff !important;
  border-color: var(--graycolor) !important;
}

.onbekend > a > h2 {
  color: inherit;
}

.live,
.live>button:not(.ant-dropdown-trigger) {
  color: #52c41a !important;
  background: #f6ffed !important;
  border-color: #b7eb8f !important;
}
.live > a > h2 {
  color: #52c41a !important;
}
.activatie,
.activatie>button:not(.ant-dropdown-trigger) {
  color: #faad14 !important;
  background: #fffbe6 !important;
  border-color: #ffe58f !important;
}
.activatie > a > h2 {
  color: #faad14 !important;
}
.voorbereiding,
.voorbereiding>button:not(.ant-dropdown-trigger) {
  color: #f5222d !important;
  background: #fff1f0 !important;
  border-color: #ffa39e !important;
}
.voorbereiding > a > h2 {
  color: #f5222d !important;
}

.block-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.lot-row {
  display: flex;
  justify-content: left;
  height: var(--row-height);
  margin-bottom: 6px;
}

.edit-lot {
  padding: 1em;
  margin-top: 1em;
}

.obstacle,
.lot {
  display: inline-block;
  cursor: pointer;
}

.ant-breadcrumb {
  margin-bottom: 2em !important;
}

.ant-layout-footer {
  background: transparent !important;
}

.site-layout-content {
  min-height: 280px;
  padding: 2em;
  background: #fff;
}



.property>sup {
  margin-right: -20px;
  margin-bottom: -8px;
  position: absolute;
  background: #52c41a !important;
  color: #f6ffed !important;
}

.facility>sup {
  margin-left: -20px;
  margin-bottom: -8px;
  background: #faad14 !important;
  color: #fffbe6 !important;
  z-index: 1;
}

.page-block {
  padding-top: 2em;
  border-bottom: 1px dotted rgba(0, 0, 0, .85);
}

.baking {
  background-color: var(--graycolor) !important;
}

.mandatory>* {
  font-weight: bold;
}

.under-assigned {
  background: #e7fcd3;
  border-color: #b7eb8f;
}

th {
  border-bottom: 1px solid var(--graycolor);
  padding: 1em;
}

td {
  padding: 1em;
}

.available {
  background: #ddf7f8;
}

.assigned {
  color: rgb(6, 158, 6) !important;
  font-style: bold;
}

.over-assigned {
  background-color: rgb(255, 241, 240) !important;
  color: rgb(255, 77, 79) !important;
}

.lot>span:not(.ant-badge-not-a-wrapper) {
  width: 42px;
  height: 42px;
  color: rgba(0, 0, 0, .85);
  background: var(--graycolor);
  border: 1px solid var(--graycolor);
  text-align: center;
  padding-top: 12px;
  vertical-align: middle;
}

.market-button,
.dynamic-button {
  margin: 0 5px;
  padding: 5px 0;
  cursor: pointer;
  position: relative;
  top: 5px;
  font-size: 24px;
  transition: all 0.3s;
}

.dynamic-button>svg {
  color: var(--button-default);
}

.dynamic-button:hover>svg {
  color: var(--button-default-hover);
}

.market-button,
.dynamic-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;

}

.events a {
  font-size: 12px !important;
  font-weight: normal !important;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}

.notes-month section {
  font-size: 28px;
}

.chrome-picker {
  box-shadow: none !important;
  width: inherit !important;
  border-radius: 0 !important;
  background: none !important;
}

.ant-modal-content .ant-input {
  margin-bottom: 1em;
}

.block-start {
  border-left: var(--block-border);
  margin-left: 2px;

}

.block-end {
  border-right: var(--block-border);
  margin-right: 2px;

}

.block-left .stand {
  border-top: var(--block-border);
  border-bottom: var(--block-border);
  box-shadow: inset -4px -2px 6px 3px #ccc;
  
}

.block-right .stand {
  border-top: var(--block-border);
  border-bottom: var(--block-border);
  box-shadow: inset -4px 2px 6px 3px #ccc;
  
}
.block-left.invalid {
  border: 1px solid #f00;
}

.block-right.invalid {
  border: 1px solid #f00;
}

.stand.invalid svg {
  border: 1px solid #f00;
}

.refresh-button {
  font-size: 24px;
  position: absolute;
  right: 12px;
  top: 8px;
  z-index: 2000;
  cursor: pointer;
}
.refresh-button:hover {
  color: var(--button-default-hover)
}

.input-error {
  font-size: smaller;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #ff4d4f;
  font-style: italic;
}

.add-lot {
  width: 48px !important;
  height: 52px !important;
}

.tag {
  border: 1px solid #00f;
  margin: 1em;
}

.inactive {
  border: 1px solid #fff;
  color: #ccc;
  margin: 1em;
}

.ugly {
  border: 1px solid #f00;
  color: #ccc;
  margin: 1em;
}